:root {
  --primary-color: #080009;
  --secondary-color: hsl(0, 0%, 100%);
  --accent-color: #c738ff;
  --accent-color-rgb: 199, 56, 255;
  --accent-secondary: #a29f15;
  --border-dark-gray: #262626;
  --green-accent: #ccff6c;
  --text-color: var(--secondary-color);
  --surface-color: var(--primary-color);
  --link-color: var(--accent-color);
}

@media (max-width: 700px) {
  #heroImage {
    display: none !important;
  }
}
/* Variables */
.heroXL {
  font-family: "VCR OSD Mono", Courier, monospace;
  font-size: 36px;
  line-height: 125%;
}

.hedingL {
  font-family: "VCR OSD Mono", Courier, monospace;
  font-size: 24px;
  line-height: 133%;
}

.headingM {
  font-family: "VCR OSD Mono", Courier, monospace;
  font-size: 16px;
  line-height: 133%;
}

.label {
  font-family: "VCR OSD Mono", Courier, monospace;
  font-size: 14px;
  line-height: 100%;
}

.bodyBlog {
  font-family: "Satoshi", "Courier New", Courier, monospace;
  font-size: 20px;
  line-height: 175%;
}

.bodyL {
  font-family: "Satoshi", "Courier New", Courier, monospace;
  font-size: 18px;
  line-height: 150%;
}

.bodyM {
  font-family: "Satoshi", "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 133%;
}

.bodyS {
  font-family: "Satoshi", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 133%;
}

* {
  font-family: "Satoshi", "Courier New", Courier, monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "VCR OSD Mono", Courier, monospace;
  color: var(--text-color);
}

.main {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  gap: 64px;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
}

.header {
  width: 100%;
  background-color: var(--secondary-color);
  font-family: "VCR OSD Mono", Courier, monospace;
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    height: 64px;
    margin: 0;
    padding: 0px 16px;
    justify-content: end;
    color: white;
    font-size: large;
  }
}

button {
  border: 1px solid var(--border-dark-gray);
  box-shadow: none;
  background: var(--primary-color);
  outline: none; /* optional */
}

p {
  /* margin: 0; */
}
.headerLink {
  color: var(--link-color);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    padding: 16px;
    /* &:hover {
      background-color: var(--hover-color);
    } */
    transition: background-color 0.3s ease;
  }
}

.square-button {
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: var(--primary-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-dark-gray);
  display: flex;
  padding: 10px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: border-color 0.1s ease, border-width 0.1s ease;
  box-sizing: border-box;
}

.square-button:hover {
  border-width: 2px;
  border-color: var(--accent-color);
}

.square-button-icon {
  display: flex;
  align-items: center;
}

/* .activeHeaderLink {
  background-color: var(--hover-color);
} */

.hero-section {
  padding: 0 20vw;
  display: flex;
  height: calc(100vh - 64px);
  background-color: var(--primary-color);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    width: 50%;
    font-size: 44px;
    font-weight: 500;
  }
}

.accentColor {
  color: var(--accent-color);
}

.bolded {
  font-weight: bold;
}

/* BLOG */
.blog-post-style {
  line-height: 1.7;
  img {
    display: block;
    width: 90%;
    max-height: 80vh;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 8px;
  }
  pre {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 16px;
    border-radius: 8px;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace;
  }
  code {
    font-style: italic;
    font-size: inherit;
  }
}

/* PROJECT CARD */
.project-card {
  flex: 1 1 300px;
  width: 100%;
  max-width: 392px;
  min-width: 0px;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  outline: 1px solid #262626;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: outline 0.15s ease;
}

.project-card:hover {
  outline: 2px solid var(--accent-color);

  animation: flashGlow 0.5s ease-in-out forwards;

  .project-card-image-container {
    padding: 0 0 8px 0;
    transition: padding 0.15s ease;
  }
  .project-card-image {
    border-radius: 16px 16px 0 0;
    height: 208px;
    transition: height 0.15s ease, border-radius 0.15s ease;
  }
}

@keyframes flashGlow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 15px var(--accent-color),
      /* Brighter, tighter glow */ 0 0 40px rgba(var(--accent-color-rgb), 0.6); /* Wider, softer glow */
  }
  100% {
    box-shadow: 0 0 0px var(--accent-color),
      0 0 12px rgba(var(--accent-color-rgb), 0.7);
  }
}

@media (max-width: 500px) {
  .project-card {
    flex-basis: 100%;
  }
}

.project-card-image-container {
  padding: 8px;
}

.project-card-image {
  height: 200px;
  background: #4b4b4b;
  border-radius: 8px;
  border: 1px solid #262626;
}

.project-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-card-title-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project-card-title {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-card-description {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0;
}

.project-card-description p {
  margin: 0;
}

.project-card-details {
  color: #9c9c9c;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

/* PROJECTS LIST */
.projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1208px;
  gap: 16px;
  justify-content: center;
}

@media (max-width: 1680px) {
  .projects-list {
    max-width: 800px !important;
  }
}
